#grid {
display: grid;
    grid-template-columns: 1fr;
}

#draggable-grid {
    
}

.cell-row {
    margin: 0;
    padding: 0;
    display: flex;
}

.cell {
    width: 94px;
    height: 94px;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
}

.image-container {
    width: 92px;
    height: 92px;
    padding: 2px;
}

.image-container-medium {
    width: 92px;
    height: 92px;
    padding: 2px;
}

.image-container-large {
    width: 188px;
    height: 188px;
    padding: 2px;
}


.asset {
    position: absolute;

}

.medium {
    width: 90px;
    height: 90px;
}

.large {
    width: 188px;
    height: 188px;
}

.hostile {
    background-color: red;
}

.non-draggable {
    
}

.is-draggable {
    z-index: 1000;
}