#grid {
    margin: 0;
}

.cell-row {
    margin: 0;
    padding: 0;
    display: flex;
}

.cell {
    width: 94px;
    height: 94px;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
}

.image-container {
    width: 96px;
    height: 96px;
    padding: 2px;
}

.image-container-medium {
    width: 96px;
    height: 96px;
    padding: 2px;
}

.image-container-large {
    width: 192px;
    height: 192px;
    padding: 2px;
}


.asset {
    position: absolute;
}

.medium {
    width: 90px;
    height: 90px;
}

.large {
    width: 188px;
    height: 188px;
}