#grid {
    display: grid;
    grid-template-columns: 1fr;
}

#draggable-grid {
    
}

.cell-row {
    margin: 0;
    padding: 0;
    display: flex;
}

.cell {
    width: 94px;
    height: 94px;
    border: 1px solid black;
    display: inline-block;
    margin: 0;
}

.image-container {
    padding: 2px;
}

.asset {
    position: absolute;
}

.token-image {
    height: inherit;
    width: inherit;
}

.hostile {
    background-color: red;
}

.non-draggable {
    
}

.is-draggable {
    z-index: 100;
    cursor: grab;
    opacity: 80%;
    &:hover {
        opacity: 100%;
    }
}

#token-menu {
    width: 168px;
    height: 200px;
    border: 1px solid red;
    position: absolute;
    z-index: 1000;
}